#btnClose {
    background-color: red;
    position: absolute;
    z-index: 102;
    border-radius: 13px;
    padding: 2px;
    height: 3.3%;
    width: 13%;
    top: 15.5%;
    left: 5%;
    font-size: 0.5rem;
}

.beerSee {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    border: 1px solid black;
    background-color: #282c34;
    box-shadow: 10px 12px 10px #282c34;
    top: 19.2%;
    left: 5%;
    width: 89%;
    border-radius: 13px;
    gap: 0;
    height: 25vh;
}

.beerListSee {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 3vw;
    z-index: 110;
    height: auto;
    max-height: 29vh;
}

.beerItemSee {
    color: white;
    text-align: left;
    width: 100%;
}

.imgBeerSee {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #f0f0f0;
    width: 18vw;
    height: 11vh;
    position: absolute;
    left: 60vw;
    top: 6vh;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
}

.imgBeerSee img {
    height: 85%;
    width: 90%;
    position: relative;
    object-position: center;
    object-fit: cover;
    padding: 2px;
    margin: 0;
    border-radius: 13px;
}

.altTextImg {
    font-size: 0.45rem;
    color: #555;
    position: relative;
    width: 90px;
    height: 100px;
    top: 25px;
    text-align: center;
    border-radius: 13px;
}

.nameBeerh3See, .tagLineSee, .abvSee {
    width: 58vw;
}

.descriptionContainer, .food_pairingSeeContainer {
    width: 58vw;
}

.nameBeerh3See {
    font-size: 0.78rem;
    letter-spacing: 1px;
}

.tagLineSee {
    font-size: 0.7rem;
    letter-spacing: 1px;
    position: relative;
    top: -10px;
}

.abvSee {
    font-size: 0.7em;
    letter-spacing: 1px;
    position: relative;
    top: -20px;
}

.descriptionContainer {
    letter-spacing: 1px;
    font-size: 0.6em;
    line-height: 110%;
    position: relative;
    top: -26px;
}

.food_pairingSeeContainer {
    letter-spacing: 1px;
    font-size: 0.6em;
    line-height: 110%;
    position: relative;
    top: -28px;
}

.collapseButtonD, .collapseButtonP {
    width: 5rem;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
}

#btnAddCart {
    position: absolute;
    top: 21vh;
    left: 56vw;
    width: 28vw;
    height: 3vh;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 12px;
}

@media screen and (max-width: 480px) {
    #btnClose {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 766px) {
    #btnClose {
        width: 10%;
        font-size: 0.7rem;
        left: 6%;
        border-radius: 13px;
    }

    .imgBeerSee {
        left: 61vw;
        top: 8vh;
        width: 15vw;
        height: 15vh;
    }
    .nameBeerh3See {
        font-size: 0.8rem;
    }
    .tagLineSee, .abvSee, .descriptionContainer, .food_pairingSeeContainer {
        font-size: 0.7rem;
    }
    #btnAddCart {
        top: 29vh;
        left: 58vw;
        width: 23vw;
    }
    .collapseButtonD, .collapseButtonP {
        width: 5rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    #btnClose {
        font-size: 0.7rem;
        border-radius: 16px;
        padding: 2px;
        height: 2.3%;
        width: 8%;
        top: 13.5%;
        left: 8.5%;
    }
    .beerSee {
        top: 16.2%;
        left: 8.5%;
        width: 83%;
        border-radius: 13px;
        gap: 0;
        height: 22vh;
    }
    .imgBeerSee {
        left: 63vw;
        top: 5vh;
        width: 12vw;
        height: 11vh;
    }

    .nameBeerh3See {
        font-size: 0.9rem;
    }
    .tagLineSee, .abvSee, .descriptionContainer, .food_pairingSeeContainer {
        font-size: 0.8rem;
        width: 60vw;
    }

    #btnAddCart {
        height: 3vh;
        font-size: 0.8rem;
        border-radius: 14px;
        width: 18vw;
        left: 60vw;
        top: 18vh;
    }
    .collapseButtonD, .collapseButtonP {
        width: 6rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1359px) {
    #btnClose {
        font-size: 0.8rem;
        border-radius: 16px;
        padding: 2px;
        height: 3.4%;
        width: 5%;
        top: 16.5%;
        left: 10.4%;
    }
    .beerSee {
        top: 20.6%;
        left: 10.4%;
        width: 78%;
        border-radius: 13px;
        gap: 0;
        height: 220px;
    }
    .imgBeerSee {
        left: 65vw;
        top: 45px;
        width: 6vw;
        height: 110px;
    }

    .nameBeerh3See {
        font-size: 0.9rem;
    }
    .tagLineSee, .abvSee, .descriptionContainer, .food_pairingSeeContainer {
        font-size: 0.9rem;
        width: 69vw;
    }

    #btnAddCart {
        position: relative;
        min-height: 30px;
        font-size: 0.9rem;
        border-radius: 14px;
        width: 125px;
        top: -50px;
        left: 92.5%;
    }
    .collapseButtonD, .collapseButtonP {
        width: 6rem;
    }
}

@media only screen and (min-width: 1360px) and (max-width: 1559px) {
    #btnClose {
        font-size: 0.8rem;
        border-radius: 16px;
        padding: 2px;
        height: 3.4%;
        width: 5%;
        top: 16.4%;
        left: 10.4%;
    }
    .beerSee {
        top: 20.1%;
        left: 10.4%;
        width: 78%;
        border-radius: 13px;
        gap: 0;
        height: 220px;
    }
    .imgBeerSee {
        left: 65vw;
        top: 50px;
        width: 6vw;
        height: 110px;
    }

    .nameBeerh3See {
        font-size: 0.9rem;
    }
    .tagLineSee, .abvSee, .descriptionContainer, .food_pairingSeeContainer {
        font-size: 0.9rem;
        width: 69vw;
    }

    #btnAddCart {
        position: relative;
        height: 30px;
        font-size: 0.8rem;
        border-radius: 14px;
        width: 140px;
        top: -50px;
        left: 92.5%;
    }
    .collapseButtonD, .collapseButtonP {
        width: 6rem;
    }
}

@media only screen and (min-width: 1560px) {
    #btnClose {
        font-size: 0.8rem;
        border-radius: 16px;
        padding: 2px;
        height: 3.4%;
        width: 4%;
        top: 17.2%;
        left: 10.9%;
    }
    .beerSee {
        top: 21%;
        left: 10.9%;
        width: 76%;
        border-radius: 13px;
        gap: 0;
        height: 220px;
    }
    .imgBeerSee {
        left: 64vw;
        top: 43px;
        width: 6vw;
        height: 118px;
    }

    .nameBeerh3See {
        font-size: 0.9rem;
    }
    .tagLineSee, .abvSee, .descriptionContainer, .food_pairingSeeContainer {
        font-size: 0.9rem;
        width: 69vw;
    }

    #btnAddCart {
        position: relative;
        min-height: 30px;
        font-size: 0.8rem;
        border-radius: 14px;
        width: 8vw;
        top: -50px;
        left: 91.5%;
    }
    .collapseButtonD, .collapseButtonP {
        width: 6rem;
    }
}
